// Basic server configuration
server.name = RuneScape
server.revision = 171
server.forcerevision = yes
server.filestore = data/filestore
server.mapkeys = data/map/keys.bin
server.realm = ECO
server.dev = true
server.test = true
server.uidprovider = io.nozemi.runescape.model.uid.providers.SimpleUIDProvider

// World settings
world.name = Main
world.id = 300
world.xprate.combat = 1
world.xprate.prayer = 1
world.xprate.skilling = 1
world.allowed_roles = []
world.spawn.x = 2626
world.spawn.y = 3030
world.spawn.z = 0
world.welcome-messages = [
    "Welcome to Uber Server!"
]

// Definitions settings
definitions.lazy = true

// Networking configuration
net.port = 43594
net.address = 127.0.0.1
net.acceptthreads = 2
net.iothreads = 4

// Account settings
account.check_password = false // Will always be true if server is not in dev or debug mode, for security reasons

// Characters
character.storage=json // (json or spring are allowed)

// Redis Service
redis.host = localhost
redis.port = 6379
redis.timeout = 2000
redis.quickstart = true